<div class="row d-flex justify-content-center">
    <div class="card w-75">
        <div class="card-header bg-dark">
            <h3 class="card-title text-white">
                <i class="fas fa-images"></i>
                Upload and image
            </h3>
        </div>
        <div class="card-body">
            <form action="/images" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroup"
                                aria-describedby="inputGroupFileAddon" required>
                            <label class="custom-file-label" for="inputGroupFile">Chosse file</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title for the image" required>
                </div>
                <div class="form-group">
                    <textarea name="description" id="" rows="2" class="form-control"
                        placeholder="Description for the image" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">
                        <i <i class="fa fa-upload"></i>Upload Image
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="card mt-2 w-75 ">
        <div class="card-header bg-dark text-white">
            <h3> <i class="far fa-images"></i>Recent Upload</h3>
            <div class="card-body" style="width: 950px">
                <div class="row">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            {{#each images}}
                            <div class="swiper-slide text-center">
                                <a href="/images/{{uniqueId}}">
                                    <img src="/public/upload/{{filename}}" alt="" class="img-thumbnail"
                                        style="width: 800px;">
                                </a>
                            </div>

                            {{/each}}
                        </div>
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            {{#each images}}
                            <div class="swiper-slide text-center">
                                <img src="/public/upload/{{filename}}" alt="" class="img-thumbnail"
                                    style="width: 100px;">
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>