<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/public/css/style.css">
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/swiper.min.css">

    <title>ImgShare</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand"><img src="/public/images/imgshare-logo.png" alt="ImgShare"></a>
        {{#if user}}
        <div>
            <a href="/logout" class="">Logout</a>
            <a href="/profile" class="">Perfil</a>
        </div>
        {{else}}
        <div>
            <a href="/signup" class="">Sign Up</a>
            <a href="/signin" class="">Sign In</a>
        </div>
        {{/if}}
    </nav>

    <div class="container-fluid p-4">
        {{{ body }}}
    </div>

    {{!-- Script --}}
    <script src="/public/jquery/jquery-3.4.1.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/swiper.min.js"></script>
    <script>
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs
            }
        });
    </script>
    <script src="/public/fontawesome/js/all.js"></script>
</body>

</html>